.MeetingRoom {

}

.MeetingRoom_rect {
    stroke-width: 1px;
    stroke: #000000;
    fill: #D7DF01;
    rx: 15
}

.MeetingRoom_text {
    text-anchor: middle;
    dominant-baseline: central;
    font-family: monospace
}