.Seat {

}

.Seat_rect {
  stroke-width: 1;
  stroke: #ffffff;
  /*fill: #49DD8E;*/
}

.Seat_text {
  /*fill: #333333;*/
  text-anchor: middle;
  dominant-baseline: central;
  font-family: monospace
}